body{
    background-image:url('Images/wallpaper.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.main-container {
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    color: white;
    opacity: 0.8;

    position: absolute;
    top: 50%;
    left: calc(100px + 50%);
    transform: translate(-50%, -50%);
}

h2 {
    margin-bottom: 15px;
}
select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}
select {
    background-color: white;
    color: black;
}
button {
    background-color: red;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: darkred;
}
.header-link {
    position: fixed; 
    top: 30px; 
    left: 10px; 
    color: #da5151; 
    text-decoration: none;
    font-size: 18px; 
    z-index: 1000; 
  }
  .header-link:hover {
    color: #da5151; 
    text-decoration: underline; 
    transition: color 0.3s; 
  }
  .header-link img {
    height: 1em; 
    vertical-align: middle; 
    margin-right: 5px; 
    max-height: 30px; 
  }
  .fixed-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px); 
    top: 70px; 
    left: 0; 
    background-color: #da5151;
    width: 200px;
    border: 1px solid #fff; 
  }
  
  .nav-item, .nav-item-active {
    padding: 20px; 
    flex-grow: 1; 
    color: black; 
    text-decoration: none; 
    display: flex;
    align-items: center; 
    margin: 0; 
    position: relative; 
    border-bottom: 1px solid #fff; 
    transition: background-color 0.3s; 
  }
  
  .nav-item-active {
    color: white; 
    background-color: #dd2929; 
  }
  
  .nav-item:hover, .nav-item-active:hover {
    background-color: rgba(255, 255, 255, 0.2); 
  }
  
  .nav-icon {
    height: 30px; 
    width: auto; 
    margin-right: 10px; 
  }
  @media (max-width: 600px) {
    .container {
        width: 90%;
    }
  }